<div class="container-fluid">
  <div class="row navigation">
    <div class="col-xs-12">
    <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="col-md-10 offset-md-2">
     content
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <!-- <app-dashboard></app-dashboard> -->
      <div class="temp-div">
   <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
