<div class="container bg-img">
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="text-center fadeIn">
        <img src="/assets/img/profile_pic9.jpg" class="img img-fluid rounded-circle profile-picture"
          alt="Hubert Stasiuk"><br>
        <br>
        <h1 class="text-white">Hubert Stasiuk</h1><br>
        <h5 class="profession-line typer d-none d-sm-none d-md-block">Java Developer, Fullstack Java
          Engineer</h5>
        <hr style="width: 100px;" class="text-white bg-white"><br>
        <p class=" text-white fadeIn delay">An Enthusiastic Java Developer With a Passion for Learning. <br>
          A Coder Focused at Self-Development, Traveler Eager to Explore the World and a Follower of Healthy Lifestyle.
        </p>
        <br>
        <div class=" text-center fadeIn delay">
          <a class="btn text-white" [routerLink]="['/home']" role="button">check me out</a>
        </div>
        <br><br><br>
        <div class="social text-center fadeIn delay">
          <a class="social px-2" href="https://www.facebook.com/hubert.stasiuk.58" target="_blank"><i
              class="fa fa-facebook"></i></a>
          <a class="social px-2" href="https://www.linkedin.com/in/hubert-stasiuk-a1b994133/" target="_blank"><i
              class="fa fa-linkedin"></i></a>
          <a class="social px-2" href="https://github.com/pHubertStasiuk" target="_blank"><i
              class="fa fa-github"></i></a>
          <a class="social px-2" [routerLink]="['/contact-me']" target="_blank"><i class="fa fa-envelope"></i></a>
          <a class="social px-2" href="https://www.instagram.com/phubertstasiuk/" target="_blank"><i
              class="fa fa-instagram"></i></a>
        </div>
      </div>
      <particles [params]="particleParameters" [style]="particleAnimation" [width]="width" [height]="height">
      </particles>
    </div>
  </div>
</div>
