
.bg-img {
  background: rgba(0, 0, 0, 0.7);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.banner {
  height: 65vh;
}
.btn  {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 2px solid #ffffff;
}

.btn:hover {
  border: 3px solid #428bca;
  cursor: pointer;
  font-size: 16px;
}

.fa-download:hover {
  font-size: 30px;
color: #553146;
}


.container-fluid{
  scroll-behavior: smooth !important;
}

.navigation-button{
  position: fixed;
  top: 85%;
  right: 2%;
  z-index: 2;
  color: #263238 !important;
  cursor: pointer;
  font-size: 35px;
  font-weight: 600;
}

p {
  margin-right: 60px;
}
.navigation-button:hover{
      color: #428bca;
  }

  .enlarge {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fadeIn.delay {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
